@model ProblemDetails

<div class="text-center">
    <h1 class="text-danger">Error.</h1>

    <h2 class="text-danger">@Html.DisplayFor(model => model.Title)</h2>
    <p>
        <strong>Error Code: </strong>  @Html.DisplayFor(model => model.Status)
    </p>
    @if (!string.IsNullOrWhiteSpace(Model.Detail))
    {
        <p>
            <strong>Instance : </strong>  @Html.DisplayFor(model => model.Instance)
        </p>
        <p>
            <strong>Detail: </strong>  @Html.DisplayFor(model => model.Detail)
        </p>
    }
</div>



