
@{
    ViewBag.Title = "Error";
    Layout = "_Layout";
}

<div class="container">
    <div class="card mb-2">
        <div class="card-header text-danger">
            Error
        </div>
        <div class="card-body">
            <div class="text-center text-danger">
                <h2>@ViewBag.Message</h2>
            </div>
        </div>
    </div>
</div>
