@model IList<MemberBulkImportVM>
@using  UserManagement.Domain.ViewModel
@{ ViewData["Title"] = "Bulk import"; }
<div class="container">
    <div class="card mb-2">
        <div class="card-header">
            Bulk Upload
        </div>
        <div class="card-body">
            <form enctype="multipart/form-data" asp-action="BulkImport">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="files"> Select File to Upload Bulk Data</label>
                        <input id="files" type="file" accept=".xlsx" required name="formFile" class="form-control-file">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="SelectRecord">Select Records To Upload</label>
                        @Html.DropDownList("SelectRecord",new List<SelectListItem>() { new SelectListItem("3","3"), new SelectListItem("200", "200"), new SelectListItem("300", "300") })
                      
                    </div>
                    <div class="form-group col-md-2">
                        <a href="~/Template.xlsx" Target="_blank">Download Template</a>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col text-center">
                        <input type="submit" value="Upload" class="btn btn-info">
                    </div>

                </div>

            </form>

        </div>
    </div>

    @await Html.PartialAsync("ImportData_Partial", Model)
</div>





