<div class="container">
  <div class="card mb-2">
    <div class="card-header">Bulk Upload</div>
    <div class="card-body">
      <!-- <form (ngSubmit)="onSubmit()"> -->
      <table class="style1" border="0" cellpadding="4px" cellspacing="0">
        <tr>
          <td>
            <input type="file" (change)="fileChange($event)" name="file" />
          </td>
        </tr>
        <tr>
          <td>
            <input
              type="button"
              value="Import"
              class="btn btn-info"
              (click)="onUpload()"
            />
          </td>
        </tr>
      </table>
      <!-- </form> -->
    </div>
  </div>
  <div *ngIf="errorData.length > 0 || sucessData.length > 0">
    <app-bulkimport-sucess [data]="sucessData"></app-bulkimport-sucess>
    <app-bulkimport-error [data]="errorData"></app-bulkimport-error>
  </div>
</div>
